body {
  background-color: #FFAA11;
  font-family: Arial, sans-serif;
}

header {
  background-color: #1111AA;
  color: #FFFFFF;
  padding: 20px;
}

footer {
  background-color: #1111AA;
  color: #FFFFFF;
  padding: 40px;
  text-align: center;
}

p {
  color: #1100BB;
  font-size: 20px;
}

.special-text {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
}

#main-title {
  text-align: left;
  border-bottom: 10px solid #111111;
}

.highlight {
  color: #5555AA;
  font-weight: bolder;
  font-style: italic;
}

button {
  background-color: #2222BB;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  transition: background-color 0.4s;
}

button:hover {
  background-color: #5555FF;
  transform: scale(1.2);
}

@keyframes appear {
  from { opacity: 0; }
  t0 { opacity: 1; }
}

selection {
  animation: appear 1s ease-in;
}

@media (max-wight: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 18px;
  }

  nav {
    text-align: center;
  }
}
