* {
margin: 0;
padding: 0;
color: #ffffff;
}

body {
  background-color: #222222;
}

.dropdown_menu {
  position: relative;
  width: 150px;
}

.dropdown_btn {
  width: 100%;
  padding: 10px 12px;
  text-align: center;
  background: #dd8811;
  border: 0px;
  cursor: pointer;
}

.dropdown_btn:hover {
  background: #ffaa11;
}

.dropdown_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.2s ease;

  padding: 0px;
  margin: 0px;
  list-style: none;

  background: #dd8811;
}

.dropdown_content {
  min-height: 0;
  overflow: hidden;
}

.dropdown_item:hover {
  background: #ffaa11;
}

.dropdown_menu:hover .dropdown_list {
   grid-template-rows: 1fr;
}
