body {
  background-color: #444444;
  color: #DDDDDD;
  font-family: Arial, sans-serif;
}

header {
  background-color: #FFAA11;
  color: #222222;
  padding: 20px;
}

footer {
  background-color: #FFAA11;
  color: #222222;
  padding: 40px;
  text-align: center;
}

p {
  color: #222222;
  font-size: 20px;
}

a {
  color: #EE0000;
}

.special-text {
  color: #DDDDDD;
  font-weight: bold;
  font-size: 24px;
}

#main-title {
  text-align: left;
  border-bottom: 10px solid #777777;
}

.highlight {
  color: #AAAAAA;
  font-weight: bolder;
  font-style: italic;
}

button {
  background-color: #FFAA11;
  color: #222222;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  transform: scale(1);
  transition: transform 0.4s, background-color 0.4s, color 0.4s;
}

button:hover {
  color: #FFFFFF;
  background-color: #AA3300;
  transform: scale(1.2);
}

@keyframes appear {
  from { opacity: 0; }
  t0 { opacity: 1; }
}

selection {
  animation: appear 10s ease-in;
}

@media (max-wight: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 18px;
  }

  nav {
    text-align: center;
  }
}
