* {
margin: 0;
padding: 0;
}
body {
  background-color: #dddddd;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.content {
  display: none;
}

#line_01 {
  height: 100vh;
  width: auto;
  position: absolute;
  left: 0;
  background-color: #dddddd;
  z-index: 1000;
}
